@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@font-face {
    font-family: "Altima";
    src: url("Altima/Altima.eot");
    src: url("Altima/Altima.eot?#iefix") format("embedded-opentype"),
      url("Altima/Altima.woff") format("woff"),
      url("Altima/Altima.ttf") format("truetype"),
      url("Altima/Altima.svg#Altima") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: "Altima";
        src: url("Altima/Altima.svg") format("svg");
        font-weight: normal;
        font-style: normal;
    }
}

*{
    box-sizing: border-box;
    font-family: 'Roboto Condensed';
    color: #fff;
    font-size: 15px;
}
html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0px;
    overflow: hidden;
}
body{
    background-image: url(imgs/slides/tilt5.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 150%;
    flex-direction: row;
    flex-wrap: nowrap;
}
.glassWindow{
    width: 700px;
    height: 450px;
    border: 1px solid rgba(10, 97, 81,1);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background:rgba(10, 97, 81, .9);
}

.glassWindow.side{
    background:rgba(10, 97, 81, 0);
}
.glassWindow.side:nth-child(1){
    transform: perspective(600px) rotateY(20deg) scale(1.25);
}
.glassWindow.side:nth-child(3){
    transform: perspective(600px) rotateY(-20deg) scale(1.25);
}
.glassWindow.side:nth-child(1) .content{
    background-image: url(imgs/slides/tilt3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 1s ease-in-out;
    animation: slide 60s linear forwards infinite;
    opacity: 1;
}

.glassWindow.side:nth-child(3) .content{
    background-image: url(imgs/slides/tilt4.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 1s ease-in-out;
    animation: slide 60s linear reverse infinite;
    opacity: 1;
}
@keyframes slide{
    0%{
        background-image: url(imgs/slides/tilt1.png);
    }
    13%{
        background-image: url(imgs/slides/tilt1.png);
    }
    14%{
        background-image: url(imgs/slides/tilt2.png);
    }
    27%{
        background-image: url(imgs/slides/tilt2.png);
    }
    28%{
        background-image: url(imgs/slides/tilt3.png);
    }
    41%{
        background-image: url(imgs/slides/tilt3.png);
    }
    42%{
        background-image: url(imgs/slides/tilt4.png);
    }
    55%{
        background-image: url(imgs/slides/tilt4.png);
    }
    56%{
        background-image: url(imgs/slides/self1.png);
    }
    69%{
        background-image: url(imgs/slides/self1.png);
    }
    70%{
        background-image: url(imgs/slides/tilt6.png);
    }
    83%{
        background-image: url(imgs/slides/tilt6.png);
    }
    84%{
        background-position: center top;
        background-image: url(imgs/slides/self2.png);
    }
    100%{
        background-position: center top;
        background-image: url(imgs/slides/self2.png);
    }

}
.glassWindow > .bar{
    width: 100%;
    height: 35px;
    background:rgba(10, 97, 81, 1);
    line-height: 35px;
    padding: 0 0 0 20px;
    font-family: 'Altima';
    font-size: 32px;
    position: relative;
}

.bar > .left{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 35px;
    text-align: right;
    padding: 0 20px 0 0;
    font-size: 20px;
}
.content{
    width: 100%;
    height: calc(100% - 35px);
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}
.content > .section{
    border: 1px solid rgba(10, 97, 81, 1);
    padding: 10px;
    margin: 5px;
}
.content > .pic{
    width: calc(28% - 10px);
    height: calc(70% - 10px);
    border: 0px;
    padding: 0px;
    position: relative;
}
.content > .pic > .picture{
    height: 100%;
    width: 100%;
    background-image: url(imgs/profile.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.content > .pic > .other{
    height: 100%;
    width: 100%;
    padding: 10px;
    line-height: 130%;
    display: table-cell;
    position: absolute;
    top: 0;
    left: 0;
    vertical-align: bottom;
}

.content > .profile{
    width: calc(72% - 10px);
    height: calc(70% - 10px);
    overflow-y: scroll;
    scrollbar-color:#fff rgba(10, 97, 81, .4);
    scrollbar-width: thin;
    
}
.profile p, .profile b{
    font-size: 18px;
}
.profile::-webkit-scrollbar, .friends::-webkit-scrollbar, .inventory::-webkit-scrollbar {
    width: 5px;      
}
.profile::-webkit-scrollbar-track, .friends::-webkit-scrollbar-track, .inventory::-webkit-scrollbar-track {
    background: rgba(10, 97, 81, .4); 
}
.profile::-webkit-scrollbar-thumb, .friends::-webkit-scrollbar-thumb, .inventory::-webkit-scrollbar-thumb {
    background-color: #fff 
}
.content > .friends{
    width: calc(28% - 10px);
    height: calc(30% - 10px);
    overflow-y: scroll;
    padding: 10px 0px 10px 10px;
    scrollbar-color:#fff rgba(10, 97, 81, .4);
    scrollbar-width: thin;
}
.center{
    display: block;
    width: 100%;
    text-align: center;
}
.content > .friends img{
    display: inline-block;
    margin-right: 14px;
    margin-top: 14px;
    width: 50px;
}
.content > .inventory img{
    display: inline-block;
    margin-right: 20px;
    margin-top: 14px;
    width: 40px;
}
.content > .friends img:nth-child(even){
    margin-right: 0px;
}
.content > .inventory{
    width: calc(72% - 10px);
    height: calc(30% - 10px);
    overflow-y: scroll;
    scrollbar-color:#fff rgba(10, 97, 81, .4);
    scrollbar-width: thin;
}
@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
    .glassWindow {
        background:rgba(10, 97, 81, .1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid rgba(10, 97, 81, .4);
    }
    .glassWindow > .bar{
        background:rgba(10, 97, 81, .2);
    }
    .content > .section{
        border: 1px solid rgba(10, 97, 81, .4);
    }
    .glassWindow.side:nth-child(1) .content{
        opacity: .7;
    }
    
    .glassWindow.side:nth-child(3) .content{
        opacity: .7;
    }
  }
